# The CODEOWNERS file is used to define individuals or teams that are
# responsible for code in a repository. For details, please refer to
# https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-code-owners

* @ardentperf

# pg_cron
/pg-cron/ @ardentperf

# pldebugger
/pldebugger/ @ardentperf

# plprofiler
/plprofiler/ @ardentperf

# pg-uuidv7
/pg-uuidv7/ @ardentperf

# pgagent
/pgagent/ @ardentperf

# pgmemcache
/pgmemcache/ @ardentperf

# age
/age/ @ardentperf

# pgmp
/pgmp/ @ardentperf

# tds-fdw
/tds-fdw/ @ardentperf

# pg-rrule
/pg-rrule/ @ardentperf

# mysql-fdw
/mysql-fdw/ @ardentperf

# snakeoil
/snakeoil/ @ardentperf

# show-plans
/show-plans/ @ardentperf

# h3
/h3/ @ardentperf

# hypopg
/hypopg/ @ardentperf

# pg-hint-plan
/pg-hint-plan/ @ardentperf

# pg-partman
/pg-partman/ @ardentperf

# pg-qualstats
/pg-qualstats/ @ardentperf

# q3c
/q3c/ @ardentperf

# pg-squeeze
/pg-squeeze/ @ardentperf

# pg-stat-kcache
/pg-stat-kcache/ @ardentperf

# pg-stat-plans
/pg-stat-plans/ @ardentperf

# plr
/plr/ @ardentperf

# plpgsql-check
/plpgsql-check/ @ardentperf

# pgsphere
/pgsphere/ @ardentperf

# pgsentinel
/pgsentinel/ @ardentperf

# debversion
/debversion/ @ardentperf

# mobilitydb
/mobilitydb/ @ardentperf